<div class="jumbotron padding">
	<h1 style="font-family: 'Lobster', serif;">About</h1>
	<p> Welcome to Not Pinterest, this is a very original concept not found anywhere else in the web. This is the only place in the whole internet where you will be able to look, share and comment on images submitted by users</p>
</div>