<div class="jumbotron center">
	<h1 style="font-family: 'Lobster', serif;">Pinteresting</h1>
	<p><%= link_to "Log IN", new_user_session_path, class: "btn btn-default" %>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default" %></p>
</div>