<!doctype html>
<html>
	<head>
		<title>Party Tips from Andrew W.K.</title>
		<style>
			body {				
				color: black;
			}
			h1 {
				font-size: 60px
			}
		</style>		
	</head>
	<body>
		<h1>Party Tips</h1>
		<h2>1. PARTY TIP: Crash Parties</h2>
			<%= link_to root_path do  %>
				<%= image_tag "penguin-party.jpg", :alt => "Penguin Party", :title => "I belong here!" %>		
			<% end %>	
		<h2>2. PARTY TIP: Party Hard!</h2>
		<%= image_tag "piglet-cake.jpg", :alt => "Party Hard with Piglet", :title => "Party Hard lil'Piglet" %>

		<h2>3. PARTY TIP: Kiss Your Own Arm or Leg!</h2>
		<%= image_tag "cat-kiss.jpg", :alt => "Kiss Your Own Arm Cat", :title => "Meow!" %>

		<p>Party tips by Andrew W.K.</p>
	</body>
</html>